.container {
  position: absolute;
  width: 100%;
  padding-bottom: 10rem;
  z-index: -1;
}
.container > h1 {
  font-size: clamp(1.5rem, 3vw, 4rem);
  margin-top: max(20vh, 10rem);
  text-align: center;
}

.grid {
  max-width: 80%;
  z-index: -1;
  left: 0;
  right: 0;
  margin-top: max(18vh, 3rem);
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-rows: auto;
  grid-gap: 3rem;
  padding-bottom: 2rem;
}

@media (min-width: 30em) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 60em) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 60em) {
  .itemone {
    grid-column: 1 / span 2;
  }
  .itemone h1 {
    font-size: 24px;
  }
}

.card {
  background: white;
  text-decoration: none;
  color: #444;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  min-height: 100%;
  max-width: max-content;
  position: relative;
  top: 0;
  transition: all 0.1s ease-in;
}
.card:hover {
  top: -2px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}
.card article {
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card h1 {
  font-size: clamp(1.2rem, 1.2vw, 2.5rem);
  margin: 0;
  color: #333;
}
.card p {
  flex: 1;
  line-height: 1.4;
  font-size: clamp(0.8rem, 1vw, 2rem);
}
.card span {
  font-size: clamp(0.7rem, 0.8vw, 1.7rem);
  font-weight: bold;
  color: #999;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin: 2em 0 0 0;
}
.card .thumb {
  padding-bottom: 60%;
  background-size: cover;
  background-position: center center;
}
