.wrapper {
  align-self: flex-start;
}

.fileInput {
  font-size: clamp(0.9rem, 1.1vw, 3.5rem);
  display: inline-block;
  text-align: left;
  background: #fff;
  width: 100%;
  position: relative;
}

.fileInput > [type='file'] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 10;
  cursor: pointer;
}

.fileInput > .button {
  display: inline-block;
  cursor: pointer;
  background: #eee;
  padding: 1rem 2.3rem;
  border-radius: 0.5rem;
  margin-right: 8px;
}

.fileInput:hover > .button {
  background: dodgerblue;
  color: white;
}

.label {
  padding-left: 3rem;
  color: #333;
  white-space: nowrap;
  opacity: 0.5;
}

@media screen and (max-width: 400px) {
  .fileInput > .button {
    padding: 0.6rem 1.8rem;
  }
  .label {
    padding-left: 1rem;
  }
}

@media screen and (max-width: 342px) {
  .label {
    padding-left: 0.4rem;
  }
  .fileInput > .button {
    padding: 0.5rem 1.4rem;
  }
}
